extends layouts/main-layout.pug

block content
  if !profileUser
    span.errorMessage Cannot find user with the given username.
  else
    script.
      const profileUserId = `!{profileUser._id}`
      const selectedTab = `!{selectedTab}`

    - followersCount = profileUser.followers.length
    - followingCount = profileUser.following.length

    .profileHeaderContainer
      .coverPhotoContainer  
        .userImageContainer
          img(src=profileUser.profilePic, alt="User profile image")
      .profileButtonContainer 
        if (profileUser._id != userLoggedIn._id)
          a.profileButton(hre=`/messages/profileUser._id`)
            i.fa-solid.fa-envelope

          - var profileUserId = profileUser._id.toString()
          - if (userLoggedIn.following && userLoggedIn.following.includes(profileUserId))
              +createFollowButton(profileUser, true)
          - else  
              +createFollowButton(profileUser, false)
      .userDetailsContainer
        span.displayName #{profileUser.firstName} #{profileUser.lastName} 
        span.username @#{profileUser.username}
        span.description #{profileUser.description}

        .followersContainer
          a(href=`/profile/${profileUser.username}/following`) 
            span.value #{followingCount}
            span Following
          a(href=`/profile/${profileUser.username}/followers`) 
            span#followersValue.value #{followersCount}
            span Followers

    .tabsContainer
      +createTab("Posts", `/profile/${profileUser.username}`, selectedTab != "replies")
      +createTab("Relies", `/profile/${profileUser.username}/replies`, selectedTab == "replies")

    .postsContainer 
    +createPostModals(userLoggedIn)

block scripts   
  script(src="/js/profile.js")  