extends layouts/login-layout.pug

block content 
  div.login-container
    h1 Register
    form#registerForm(action="/register", method="post", onsubmit="event.preventDefault(); validateForm();") 

      p.errorMessage #{errMessage}

      input(type="text", name="firstName", placeholder="First name", value=firstName required="")
      input(type="text", name="lastName", placeholder="Last name", value=lastName required="")
      input(type="text", name="username", placeholder="Username", value=username required="")
      input(type="email", name="email", placeholder="Email", value=email required="")
      input#password(type="password", name="password", placeholder="Password", required="")
      input#passwordConf(type="password", name="passwordConf", placeholder="Confirm password", required="")
      input(type="submit", value="Register")
    a(href="/login") Already have an account? Login here

  script. 
    const passwordField = document.querySelector("#password");
    const passwordConfirmField = document.querySelector("#passwordConf");
    const form = document.querySelector("#registerForm")

    function validateForm(){
      if (passwordField.value != passwordConfirmField.value){
        alert("Passwords do not match. Try again.");
      }else{
        form.submit();
      }
    }